body{
  font-family: 'Roboto', sans-serif;
  background-image:url('../images/bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
}

.banner{
  height:18vh;
  padding-top: 20px;
  padding-right: 20px;
  background-color: #7c4dff   ;
}

.margin-none{
  margin: none !important;
}

.container{
  z-index: 10000;
  background-color: white;
}
.margin-v-m5{
  margin-top:-10vh !important;
}
.padding-v-20{
  padding-top:20px !important;
  padding-bottom: 20px !important;
}
.tab{
  background-color: #e91e63;
}
.tabs .indicator{
  background-color: #00bcd4 !important;
}
.tab > a.active{
  background-color: #00bcd4 !important;

}
.tab  a{
  color:white !important;
}


#personal , #acedemic{
  padding-top:20px;
}
